body{
    background-image: url(../img1/img/cielo.jpg);
    background-attachment: fixed;
}
#logo{
    background:blue;
} 
#menu ul li:hover{
    background:blue;
}
.button-more{
    background:blue;
}
#box h3{
    background-color: blue;
    color: white;
}
