body{
    background-image: url(../img1/img/hojas.jpg);
    background-attachment: fixed;
}
#logo{
    background: green;
} 
#menu ul li:hover{
    background: green;
}
.button-more{
    background: green;
}
